<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <globalization culture="en-us" uiCulture="en"/>
    <trace enabled="false" pageOutput="false"/>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" requestPathInvalidCharacters=""/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>